{:kotoba.app/id "cloud.itonami.isic-2399", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreify4ztouab3pmxuv5c4b5dwjdf47wkg7pjfoqmbj6ntcy7ctouq3u", :kotoba.app/embed-url "ipfs://bafkreify4ztouab3pmxuv5c4b5dwjdf47wkg7pjfoqmbj6ntcy7ctouq3u", :published {:archive "https://kotobase.net/ipfs/bafkreify4ztouab3pmxuv5c4b5dwjdf47wkg7pjfoqmbj6ntcy7ctouq3u", :size 72650, :put-status 201, :get-status 200, :at "2026-08-15T13:51:34.570Z"}}
